<igx-navbar class="navbar">
  <igx-navbar-title class="navbar-content">
    <igx-avatar src="/assets/Logo.svg" shape="circle" class="avatar"></igx-avatar>
    <button igxButton="flat" type="button" igxRipple [routerLink]="['/grid']" class="button">
      Grid
    </button>
    <button igxButton="flat" type="button" igxRipple [routerLink]="['/empty']" class="button">
      Empty
    </button>
  </igx-navbar-title>
</igx-navbar>
<div class="view-container">
  <router-outlet></router-outlet>
</div>
